---
import MainLayout from '@layouts/MainLayout.astro'
import { Image } from 'astro:assets'

import post05 from '@images/post-05.png'

---

<MainLayout title="Imagenes">
  <h1 class="text-5xl text-white">Imagenes</h1>

  <img
    src="/assets/images/post-05.png"
    width="250"
    height="250"
    loading="eager"
  />

  <Image src={post05} width="250" height="250" alt="Imagen" />

  <div
    style={{
      height: '3000px',
    }}
  >
  </div>

  <img
    src="/assets/images/post-05.png"
    width="250"
    height="250"
    loading="lazy"
  />
</MainLayout>
